name: CI - Docker Build for Travel Web

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build --progress=plain -t travel_front .

      - name: List Docker images
        run: docker images

      - name: Run container test
        run: |
          docker run -d -p 8080:80 --name travel_test travel_front
          sleep 5
          docker ps
          docker logs travel_test
          curl -I http://localhost:8080
